@page
@model ClubBaist.ViewsPlayerHandicapModel
@{
    ViewData["Title"] = "ViewsPlayerHandicap";
}
@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $("#reset").click(function () {
            document.location.reload(true);
        });
    </script>
}
<h1>ViewsPlayerHandicap</h1>

